.content{
    position: absolute;
    top: 49px;
    left: 226px;
    height: calc(100vh - 49px);
    width: calc(100% - 226px);
    box-sizing: border-box;
    padding:0px 8px;
}

.content .content-controls{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}
   
.content-controls-left .controls-left-lable p{
    font-size:20px;
    font-weight: bold;
    margin:24px 0px 16px;
}
.content-controls-left .controls-left-filter{
    display:flex;
}

.fa-chevron-down:last-of-type{
    margin-left: auto;
    margin-right:12px;
    font-size:16px;
}

.controls-left-filter .search-input{
    background-image:url('../../content/icon/search.png');
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position-x: 16px;
    background-position-y:center;
    padding-left: 40px;
    height:40px;
    width: 300px;
    border-radius:4px;
    font-size: 12px;
    color: #bbb;
    border:1px solid #ccc;
    padding-bottom:0px;
    padding-top:0px;
}

.controls-left-filter .search-input:focus{
    border:1px solid #019160;
    font-size:13px;
    color:#000;
}


.controls-left-filter .filter{
    display: flex;
    margin-left:16px;
    border:1px solid #ccc;
    border-radius:4px;
    padding-left: 16px;
    height:40px;
    width: 200px;
    align-items: center;
}
.content-controls-right{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}
.content-controls-right .button-add-staff{
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 11px;
}
.content-controls-right .add-icon{
    height: 16px;
    min-width:16px;
    background-image: url('../../content/icon/add.png');
    background-repeat: no-repeat;
    background-size:contain;
    margin-right: 8px;
}

.content-controls-right .controls-right-refresh{
   width: 36px;
   height:36px;
   border:1px solid #ccc;
   background-image: url(../../content/icon/refresh.png);
   background-position: center;
   background-repeat: no-repeat;
   margin-top: 16px;
}

.content .content-stafftable{
    height: calc(100vh - 224px);
    box-sizing: border-box;
    overflow-y: scroll;
}
/* footer */
.content .content-footer{
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0 8px;
}
.content-footer .pagination{
    display:flex;
    flex-direction: row;
    align-items: center;

}
.pagination-number{
    height: 24px;
    min-width: 24px;
    border-radius: 50%;
    text-align: center;
    border:1px solid #ccc;
    margin:0 4px;
    background-color: #ccc;
}

.pagination-number:hover{
    border:1px solid #ccc;
    background-color: #fff;
}

.pagination-number p{
    line-height: 24px;
    margin: 0;
}

.navigation{
    height: 24px;
    min-width:24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.navigation:hover{
    background-color: #ccc;
}
#btn-firstpage{
    background-image: url('../../content/icon/btn-firstpage.svg');
  

}
#btn-lastpage{
    background-image: url('../../content/icon/btn-lastpage.svg');
}
#btn-prev-page{
    background-image: url('../../content/icon/btn-prev-page.svg');

}
#btn-next-page{
    background-image: url('../../content/icon/btn-next-page.svg');
}

/* table */
table {
    padding-top: 16px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
table tbody tr{
    width: 100%;
    height: calc((100vh - 280px)/10);
    border-bottom: 1px solid #ccc;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.active{
    background-color: #019160;
    color:#fff;
}
table thead{
    position: sticky;
    top:0;
    background-color: #fff;
    white-space: nowrap;
}
table tbody{
    white-space: nowrap;
}

