
.dropdown   {
    width: 200px;
    box-sizing: border-box;
    color:#000;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border:1px solid #bbb;
    height: 42px;
    outline: none;
    padding-left: 16px;
    padding-right: 12px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index:999;
}

.dropdown-value{
    flex:1;
    height: 40px;
}
/* .chevron-down{
    background-image: url("chevron-down.png");
    background-repeat: no-repeat;
    background-size: contain;
} */
.dropdown-icon{
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    display: block;
    margin-left:12px;
}

.dropdown-list {
    position: absolute;
    top: calc(100% + 2px);
    left:-1px;
    background-color: #fff;
    border-radius: 4px;
    padding:8px 0;
    margin: 0;
    width: 200px;
    list-style-type: none;
    outline: none;
    display: none;
    box-shadow: 0px 3px 3px 0px rgba(159,160,161,1);
    
}

.dropdown-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    align-content: center;
}

.dropdown-item-text{
    flex:1;
    height: 100%;
    line-height: 40px;
}

.dropdown-item:hover{
    background-color: #E9EBEE;
}

.dropdown-item:active{
    background-color: #019160;
    color: #fff;
}

.dropdown-value{
    line-height: 40px;
    font-size:16px;
}

.dropdown.show .dropdown-list{
    display: block; 
}

.dropdown.show {
    border: 1px solid #019160;
}

.dropdown.show .dropdown-list .checkmark{
    visibility: visible;
}

.dropdown .fa-check{
    margin-right:10px;
    visibility: hidden;
}

.dropdown .fa-chevron-down{
    font-size:14px;
    margin-left: 12px;
    transform: scale(1.1428,1);
}

