.content-paging{
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0 8px;
}
.content-paging__pagination{
    display:flex;
    flex-direction: row;
    align-items: center;

}
.pagination-number{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    border:1px solid #ccc;
    margin:0 4px;
    cursor: pointer;
}

.pagination-number:hover{
    border:1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.pagination-number--active{
    background-color: #019160;
    color:#fff;
}

.pagination-number p{
    line-height: 40px;
    margin: 0;
}

.navigation{
    height: 40px;
    min-width:40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}
.navigation:hover{
    background-color: #fff;
    border: none;
}
#btn-firstpage{
    background-image: url('../../assets/icon/btn-firstpage.svg');
    background-size: 24px 24px;
}
#btn-lastpage{
    background-image: url('../../assets/icon/btn-lastpage.svg');
    background-size: 24px 24px;
}
#btn-prev-page{
    background-image: url('../../assets/icon/btn-prev-page.svg');
    background-size: 24px 24px;
}
#btn-next-page{
    background-image: url('../../assets/icon/btn-next-page.svg');
    background-size: 24px 24px;
}

/** hiển thị số nhân viên trên trang */
.content-paging__filter{
    height: 40px;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
}
.paging-filter__icon{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
    align-items: center;
}
.paging-filter__list{
    width: 100%;
    max-height: 136px;
    overflow-y :scroll;
    position: absolute;
    list-style-type: none;
    left: 0px;
    top: calc(-136px);
    border-radius: 4px;
    padding: 8px 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #fff;
    outline: none;
    box-shadow: 0px -1px 3px 0px rgba(159,160,161,1);
    display: none;
}

.paging-filter__item{
    height: 40px;
    line-height: 40px;
    padding: 0px 8px;
}

.paging-filter__item:hover{
   background-color: #E9EBEE;
}
.paging-filter__item:active{
    background-color: #019160;
    color: #fff;
 }

 /**Hiển thị filter list */
 .content-paging__filter.show .paging-filter__list{
     display: block;
 }
 .paging-filter__item.active{
    background-color: #019160;
    color: #fff;
 }




