.button{
    height: 40px;
    border-radius: 4px;
    background-color: #019160;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    color:#fff;
    cursor: pointer;
}

.button:hover{
    background-color: #2FBE8E;
}

button.button:active{
    background-color: #01B075;
}
