.textbox{
    height: 40px;
    border:1px solid #bbb;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.textbox:focus{
    border-color: #019160;
}




